name: Dependency Review

on: [pull_request]

jobs:
  dependency-review:
    runs-on: [ubuntu-latest]
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: high